*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: lightgrey;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #610c5b;
  height: 6rem;

  margin-bottom: 4rem;
}
#image-header-div{
  align-self: center;
  display: flex;
}
#image-header{
  height: 4rem;
  width: 4rem;
}
a{
  color: white;
  text-decoration: none;
  margin: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#anchor-image{
  margin: 1rem;
  display: flex;
}
#titulo{
  align-self: center;
  margin-left: 0.5rem;
  font-size: 32px;
}
main{
  min-height: 100%;
}
footer{
  height: 2rem;
  background-color: white;
}
