*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: white;
  background-image: url("/static/assets/images/texture.png");
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #610c5b;
  height: 6rem;

  margin-bottom: 4rem;
}
#image-header-div{
  align-self: center;
  display: flex;
}
#image-header{
  height: 4rem;
  width: 4rem;
}

a{
  color: white;
  text-decoration: none;
  margin: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#anchor-image{
  margin: 1rem;
  display: flex;
}
#titulo{
  align-self: center;
  margin-left: 0.5rem;
  font-size: 32px;
}
#inicio{
  position: relative;
}
#resultados{
  position: relative;
}
main{
  min-height: 100%;
}
footer{
  height: 2rem;
  background-color: white;
}

@media only screen and (max-width: 320px) {
  html{
    width: min-content;
  }
  header{
    width: min-content;
  }
}
@media only screen and (max-width: 375px) {
  html{
    width: min-content;
  }
  header{
    width: min-content;
  }
}
@media only screen and (max-width: 425px) {
  html{
    width: min-content;
  }
  header{
    width: min-content;
  }
}