*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: white;
  background-image: url("/static/assets/images/texture.png");
}
.form-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-table{
  height: 80vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border-radius: 16px;
  border: 1px solid rgb(37, 1, 53);

  margin: 100px auto;
}
.image-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  font-family: "Roboto",  sans-serif;
  font-size: 24px;
}
img{
  height: 150px;
  width: 150px;
}

.form-control{
  width: 100%;
  padding: 12px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
button{
  height: 40px;
  width: 180px;

  background-color: #610C5B ;
  border-radius: 16px;
  border: 1px solid grey;
  box-shadow: 0 3px grey;
  margin: 20px;

  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
button:active{
  box-shadow: 0 1px grey;
  transform: translateY(4px);
}
.redirect{
  display: flex;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
}
a{
  color: #610C5B;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 320px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border-left: 0;
    border-top: 1px solid #ccc;
  }
  .form-control{
    margin: 5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}

@media screen and (max-width: 375px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border: none;
  }
  .form-control{
    margin: 5px;
    width: 90%;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}

@media screen and (max-width: 475px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border: none;
  }
  .form-control{
    margin: 5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}
@media screen and (max-width: 768px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border: none;
  }
  .form-control{
    margin: 5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}
@media screen and (max-width: 1024px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border: none;
  }
  .form-control{
    margin: 5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}
@media screen and (max-width: 1440px) {
  .login-table{
    width: 70vw;
    flex-direction: column;
    height: auto;
  }
  .login-div{
    border: none;
  }
  .form-control{
    margin: 5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: smaller;
  }
}