<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/page.css"%}">
    <link rel="shortcut icon" href={% static "/assets/images/favicon.ico" %} type="image/x-icon">
    {% block css %}
    {% endblock css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Loto</title>
  </head>
  <body>
    <header>
      <div id="image-header-div">
        <a href="{% url "index" %}" id="anchor-image">      
          <img src={% static "/assets/images/logo.png"%} alt="Logo do site"  id="image-header">
          <p id="titulo">Loto</p>
        </a>
      </div>
      <div>
        <a href="{% url "index" %}">Início</a>
        <a href="{% url 'resultados' %}">Resultado</a>
      </div>
      <div>
        <a href="{% url "logout" %}">Sair</a>
      </div>
    </header>
    <main>
      {% block conteudo %}
      {% endblock conteudo %}
    </main>
  </body>
  {% block js %}
  {% endblock js %}
</html>