{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block conteudo %}

  <h2>
    Bem vindo,
  </h2>
  <div id="game">
    <button class="button-game">1</button>
    <button class="button-game">2</button>
    <button class="button-game">3</button>
    <button class="button-game">4</button>
    <button class="button-game">5</button>
    <button class="button-game">6</button>
    <button class="button-game">7</button>
    <button class="button-game">8</button>
    <button class="button-game">9</button>
    <button class="button-game">10</button>
    <button class="button-game">11</button>
    <button class="button-game">12</button>
    <button class="button-game">13</button>
    <button class="button-game">14</button>
    <button class="button-game">15</button>
    <button class="button-game">16</button>
    <button class="button-game">17</button>
    <button class="button-game">18</button>
    <button class="button-game">19</button>
    <button class="button-game">20</button>
    <button class="button-game">21</button>
    <button class="button-game">22</button>
    <button class="button-game">23</button>
    <button class="button-game">24</button>
    <button class="button-game">25</button>

  </div>
{% endblock conteudo %}