{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block js %}
  <script src={% static "js/index.js" %}></script>
{% endblock js %}



{% block conteudo %}
  <div id="main-table">
    <div id="greetings">
      <p id="greetings-text">
        Bem vindo, <strong>{{ user.get_primeiro_nome }}</strong>
      </p>
      <p id="greetings-subtext">
        Escolha 20 números no painel para criar os seus jogos!
      </p>
      <h3 id="clicks">

      </h3>
    </div>

    <div id="game">
      <div>
        <button class="button-game" type="button" onclick="handleGameButton(event,1)">01</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,2)">02</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,3)">03</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,4)">04</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,5)">05</button>
      </div>
      <div>
        <button class="button-game" type="button" onclick="handleGameButton(event,6)">06</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,7)">07</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,8)">08</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,9)">09</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,10)">10</button>
      </div>
      <div>
        <button class="button-game" type="button" onclick="handleGameButton(event,11)">11</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,12)">12</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,13)">13</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,14)">14</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,15)">15</button>
      </div>
      <div>
        <button class="button-game" type="button" onclick="handleGameButton(event,16)">16</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,17)">17</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,18)">18</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,19)">19</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,20)">20</button>
      </div>
      <div>
        <button class="button-game" type="button" onclick="handleGameButton(event,21)">21</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,22)">22</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,23)">23</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,24)">24</button>
        <button class="button-game" type="button" onclick="handleGameButton(event,25)">25</button>
      </div>
    </div>

  </div>

  <div id="suggestions">
    <div class="suggestions-header">
      <p>Números da sorte!</p>
    </div>

    <div id="suggestions-body">
    </div>
  </div>

  <div id="game-results-button-div">
    <button class="create-game-results-button" id="create-game-results-button" type="button" onclick="handleGameSubmitButton(event)">Criar Jogos</button>
    <button class="create-game-results-button restart" type="button" onclick="handleRestartButton(event)">
      Recomeçar
    </button>
  </div>

  {% if user.is_staff and user.is_superuser %}
    <div id="admin-div">    
      <a href="{% url "admin:index" %}" id="admin-link">Admin site</a>
    </div>
  {% endif %}

  <h2 class="results-title invisible">Melhores Jogos</h2>

  <div class="game-results">
    <div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
    </div>
    <div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
    </div>
    <div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
      <div class="game-results-div invisible"></div>
    </div>
  </div>
{% endblock conteudo %}